@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400");

.top-navigation {
	background-color:black;
	text-align: center;
	position:fixed;
	width:100%;
	z-index:9999;
  	
}

.logo {
	text-align:center;
	background-color:black;
}

.links li
 {
	font-family: droid serif;
  	list-style-type:none;
  	color:white;
	text-shadow: 0.1em 0.1em 0.2em black;
	display:inline-block;
	float:right;
	margin-left:0.8em;
	line-height:0.8em;

}

.links {
	float:right;
}

.content {
	padding:0px 15px;
}

.title
{
	font-family: droid serif;
	padding:5.9em;
	color:white;
	text-shadow: 0.1em 0.1em 0.2em black;
	text-align:center;
	font-size:25px;
	background-image: url(images/background.jpg);
	background-size: cover;
	height:9em;
	}

.sub-title {
	font-family:droid serif;
	color:white;
	text-shadow: 0.1em 0.1em 0.2em black;
	text-align:center;
	font-size:15px;
}

button {
	border-radius:0.4em;
	padding:0.4em;
	background-color:#ffbf00;
	border-style:none;
	text-shadow:none;
	margin:0.8em;
	color:black;
}
button:hover {
	background-color:#00ff80;
	border-radius:0.8em;
	cursor: none; } 

.little-bit h1 {
	font-family:droid serif;
	font-size:40px;
	font-weight:normal;
	margin-top:3em;
	text-align:center;
}

.coffee,
.refill,
.devices {
	background-color: white;
	margin-right:4em;
	margin-left:4em;
	margin-top:1em;
	margin-bottom:4em;
	
}	

.icons div {
	display:inline-block;}

.icons {
	text-align:center;

}
//*how do I import a custom cursor????*//

